.button {
  border: none;
  border-radius: 100px;
  color: #fff;
  background-color: $dark;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 300px;
  padding: 10px 20px;
  height: 50px;
  font-family: inherit;
  font-weight: 700;
  box-shadow: 0px 5px 20px rgba(39, 49, 82, 0.3);
  transition: opacity 0.2s ease;

  &:hover {
    opacity: 0.9;
  }

  &--primary {
    background-color: $primary;
    box-shadow: 0px 5px 20px rgba(90, 217, 172, 0.3);
  }
}

.button-reset {
  background-color: transparent;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  font-family: inherit;
  cursor: pointer;
}
