.form-field {
  text-align: left;

  input {
    height: 48px;
    border: none;
    background-color: transparent;
    outline: none;
    border-bottom: 2px solid #e5e7eb;
    display: block;
    width: 100%;
    transition: border-color 0.2s ease;
    margin: 0;
    padding: 10px 0;
    font-size: 18px;
    line-height: 28px;
    color: $dark;

    &:focus {
      border-color: $primary;
    }
  }

  span {
    font-size: 14px;
    font-weight: 700;
    color: $light;
    margin-top: 4px;
    display: block;
  }
}

.form-group {
  & > *:not(:last-child) {
    margin-bottom: 15px;
  }

  & > * {
    flex: 1;
  }

  @include media-breakpoint-up(md) {
    display: flex;

    & > *:not(:last-child) {
      margin-bottom: 0;
      margin-right: 100px;
    }
  }
}

.form > *:not(:last-child) {
  margin-bottom: 15px;
}

/* The container must be positioned relative: */
.custom-select {
  position: relative;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

// /* Style the arrow inside the select element: */
.select-selected:after {
  content: "";
  position: absolute;
  width: 16px;
  top: 0;
  right: 10px;
  bottom: 0;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iOSIgdmlld0JveD0iMCAwIDE2IDkiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik04IDcuMTIxODNMNy4yOTI4OSA3LjgyODkzQzcuNjgzNDIgOC4yMTk0NiA4LjMxNjU4IDguMjE5NDYgOC43MDcxMSA3LjgyODkzTDggNy4xMjE4M1pNMi42NDYxOSAwLjM1MzgwNEMyLjI1NTY3IC0wLjAzNjcyMDggMS42MjI1IC0wLjAzNjcyMDUgMS4yMzE5OCAwLjM1MzgwNEMwLjg0MTQ1MyAwLjc0NDMyOCAwLjg0MTQ1MyAxLjM3NzQ5IDEuMjMxOTggMS43NjgwMkwyLjY0NjE5IDAuMzUzODA0Wk0xNC43NjggMS43NjgwMkMxNS4xNTg1IDEuMzc3NDkgMTUuMTU4NSAwLjc0NDMyOCAxNC43NjggMC4zNTM4MDRDMTQuMzc3NSAtMC4wMzY3MjA1IDEzLjc0NDMgLTAuMDM2NzIwOCAxMy4zNTM4IDAuMzUzODA0TDE0Ljc2OCAxLjc2ODAyWk04LjcwNzExIDYuNDE0NzJMMi42NDYxOSAwLjM1MzgwNEwxLjIzMTk4IDEuNzY4MDJMNy4yOTI4OSA3LjgyODkzTDguNzA3MTEgNi40MTQ3MlpNMTMuMzUzOCAwLjM1MzgwNEw3LjI5Mjg5IDYuNDE0NzJMOC43MDcxMSA3LjgyODkzTDE0Ljc2OCAxLjc2ODAyTDEzLjM1MzggMC4zNTM4MDRaIiBmaWxsPSIjNUFEOUFDIi8+Cjwvc3ZnPgo=");

  background-repeat: no-repeat;
  background-position: center;
  transition: transform 0.2s ease;
}

// /* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  transform: rotate(180deg);
}

.select-selected.select-arrow-active {
  border-color: $primary;
}

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
  color: #e5e7eb;
  border-bottom: 2px solid #e5e7eb;
  height: 48px;
  display: flex;
  align-items: center;
  padding: 10px 0;
}

/* Style items (options): */
.select-items {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;

  padding: 10px 0;
  background-color: #fff;
  box-shadow: 0px 10px 35px rgba(39, 49, 82, 0.15);
  border-radius: 0px 0px 15px 15px;

  & > * {
    border: none !important;
    border-radius: 0 !important;
    padding: 7px 20px !important;
    transition: all 0.2s ease;
    color: $dark !important;
    &:hover {
      background-color: #e5e7eb;
    }
  }
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}
