.logo {
  max-width: 132px;
  display: inline-block;
  flex-shrink: 0;

  @include media-breakpoint-up(xl) {
    min-width: 210px;
  }
}

.navbar-top {
  height: 30px;
  background-color: $dark;
  color: #fff;
  display: flex;
  align-items: center;
}

.navbar {
  position: relative;
  z-index: 100;
  background-color: #fff;
  transition: background-color 0.2s ease;

  & > .container {
    display: flex;
    align-items: center;
    height: 60px;
  }

  &__menu-link {
    font-weight: 700;
    transition: color 0.2s ease;
    font-size: 14px;

    &--active {
      color: $primary;
    }

    &:hover {
      color: $primary;
    }
  }

  @include media-breakpoint-down(lg) {
    position: sticky;
    top: 0;

    & > .container {
      background-color: #fff;
    }

    &__content {
      overflow: auto;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100vh;
      z-index: -1;
      background-image: url(../images/mobile-nav-bg.png);
      background-repeat: no-repeat;
      background-position: center bottom;
      background-color: #fff;
      transition: transform 0.2s ease;
      transform: translateY(-100%);

      .container {
        padding: 100px 52px 50px;
      }
    }

    &__menu-item:not(:last-child) {
      margin-bottom: 22px;
    }

    &__menu-link {
      font-size: 20px;
      line-height: 27px;
    }
  }

  @include media-breakpoint-up(lg) {
    & > .container {
      height: 100px;
    }

    &__content {
      &,
      .container {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 0;
      }
    }

    &__menu {
      display: flex;
    }

    &__menu-item:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.navbar-button {
  border-radius: 100px;
  padding: 8px 20px;
  font-weight: 700;
  background-color: #fff;
  box-shadow: 0px 5px 20px rgba(90, 217, 172, 0.3);
  transition: opacity 0.2s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  height: 36px;
  font-size: 14px;

  &:hover {
    opacity: 0.9;
  }

  @include media-breakpoint-down(lg) {
    &--full {
      height: 42px;
      font-size: 20px;
      display: flex;
    }
  }

  &--primary {
    background-color: $primary;
    color: #fff;
  }

  &--outline {
    border: 2px solid $primary;
    color: $primary;
    box-shadow: none;
  }
}

@include media-breakpoint-up(lg) {
  .navbar--transparent:not(.navbar--sticky) {
    &,
    & > .container {
      background-color: transparent;
    }

    .navbar__menu-link--active {
      color: #fff;
    }

    .navbar__menu-link:hover {
      color: #fff;
    }

    .navbar-button--primary {
      background-color: #fff;
      color: $dark;
    }

    .navbar-button--outline {
      border: 2px solid #fff;
      color: #fff;
      background-color: transparent;
    }
  }
}

@include media-breakpoint-up(lg) {
  .navbar--sticky {
    position: sticky;
    background-color: #fff;
    top: 0;
  }
}

@include media-breakpoint-down(lg) {
  .navbar-active {
    overflow: hidden;
  }
}

.navbar-active .navbar__content {
  transform: translateY(0);
}

.active--hide {
  transition: opacity 0.1s ease;
}

.navbar-active .active--hide {
  opacity: 0;
}

.burger {
  position: relative;
  width: 36px;
  height: 36px;
  cursor: pointer;

  & > * {
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.1s ease;
  }

  &--close {
    opacity: 0;
  }
}

.navbar-active .burger {
  &--open {
    opacity: 0;
  }

  &--close {
    opacity: 1;
  }
}

.dropdown {
  &__trigger {
    position: relative;
    cursor: pointer;
    padding-right: 15px;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      width: 10px;
      height: 10px;
      background-image: url(../images/svg/dropdown-open.svg);
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  @include media-breakpoint-down(lg) {
    &--active &__trigger {
      &::after {
        background-image: url(../images/svg/dropdown-close.svg);
      }
    }

    &--active &__list {
      display: block !important;
    }

    &__list {
      margin-top: 12px;
      display: none;
    }
  }

  &__list-item {
    &:not(:last-child) {
      margin-bottom: 14px;
    }
  }

  &__list-link {
    font-size: 16px;
    line-height: 22px;
  }

  @include media-breakpoint-up(lg) {
    position: relative;

    &:hover &__list {
      visibility: visible;
      opacity: 1;
    }

    &:hover &__trigger {
      color: $primary;
      &::after {
        background-image: url(../images/svg/dropdown-close.svg);
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 90%;
      left: 0;
      width: 100%;
      height: 20px;
    }

    &__list {
      position: absolute;
      background: #ffffff;
      box-shadow: 0px 10px 35px rgba(39, 49, 82, 0.15);
      border-radius: 0px 15px 15px 15px;
      min-width: 200px;
      top: calc(100% + 15px);
      left: 0;
      padding: 20px 25px 25px 20px;
      transition: all 0.2s ease;
      visibility: hidden;
      opacity: 0;
    }

    &__list-link {
      font-size: 14px;
    }
  }
}
