.security-section {
  @include media-breakpoint-down(md) {
    & > .container {
      max-width: initial !important;
      padding: 0;
    }
  }

  @include media-breakpoint-up(md) {
    background-color: $gray;

    & > .container {
      display: flex;
      position: relative;
    }

    &__img {
      position: absolute;
      bottom: 0;
      left: 22px;
    }
  }

  &__description {
    background-color: $gray;
    padding: 30px 0;
  }

  @include media-breakpoint-up(md) {
    &__description {
      padding-left: 200px;
    }
  }
}
