@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,700;0,800;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

.heading-primary {
  font-size: 34px;
  line-height: 1.2;
  font-weight: 700;

  @include media-breakpoint-up(lg) {
    font-size: 48px;
  }
}

.heading-secondary {
  font-size: 28px;
  line-height: 1.3;
  font-weight: 700;

  @include media-breakpoint-up(lg) {
    font-size: 38px;
  }
}

.text-xs {
  font-size: 12px;
  line-height: 16px;
}

.text-sm {
  font-size: 14px;
}

.text-md {
  font-size: 18px;
}

.text-lg {
  font-size: 20px;
}

.text-xxl {
  font-size: 24px;
}

@include media-breakpoint-up(lg) {
  .text-lg-xs {
    font-size: 12px;
    line-height: 16px;
  }

  .text-lg-sm {
    font-size: 14px;
  }

  .text-lg-md {
    font-size: 18px;
  }

  .text-lg-lg {
    font-size: 20px;
  }

  .text-lg-xxl {
    font-size: 24px;
  }
}

.fw-400 {
  font-weight: 400;
}
