.home-header {
  padding: 40px 0 60px;
  overflow: hidden;

  &__img {
    display: flex;
    justify-content: center;

    img {
      min-width: 400px;
    }
  }

  @include media-breakpoint-up(lg) {
    padding-bottom: 70px;
  }
}
